In [1]:
import pandas as pd

In [2]:
df=pd.read_pickle('test.pkl')

In [3]:
dict1={}

In [4]:
def func(ASIN_variable):
    if(ASIN_variable not in dict1.keys()):
        df_test=df[df['ASIN']==ASIN_variable]
        test_list=df_test['salient_list'].tolist()
        result = set(i for j in test_list for i in j)
        list_unique=list(result)
        dict1[ASIN_variable]=list_unique
        return 'null'
    else:
        return 'null'

In [5]:
df.apply(lambda row: func(row['ASIN']), axis=1)

188      null
189      null
190      null
191      null
192      null
193      null
194      null
195      null
196      null
197      null
198      null
199      null
200      null
201      null
202      null
203      null
204      null
205      null
206      null
207      null
208      null
209      null
210      null
211      null
212      null
213      null
214      null
215      null
216      null
217      null
         ...
10197    null
10198    null
10199    null
10200    null
10201    null
10202    null
10203    null
10204    null
10205    null
10206    null
10207    null
10208    null
10209    null
10210    null
10211    null
10212    null
11838    null
11839    null
11840    null
11841    null
11842    null
11843    null
11844    null
11845    null
11846    null
11847    null
11848    null
11849    null
11850    null
11851    null
Length: 1816, dtype: object

In [7]:
s = pd.Series(dict1, name='DateValue')
test=pd.DataFrame(s)
test.reset_index(inplace=True)

In [8]:
test.head()

        index                                          DateValue
0  B002OTXCLO  [Price, package, vendor, item, tablets, number...
1  B0046X8NCO  [human, tad, Allergy level, count packs, someb...
2  B00HQRCVB6  [everyday, flavor, honey, all, South, medicine...
3  B00M1QM8EM  [ears, Yes, y/o son, back, spray works, buffs,...

## Instead of returning null you can return a print or return nothing! Verify if unique elements from all lists is working!